#navbar {
    font-size: 100px;
    margin: auto;
}
#drop-zone {
    margin-top: 20px;
}
/* stuff for the nav bar */
.navbar {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 60px;
     background-color: orangered;
 }

 a {
     text-decoration: none;
     color: white;
 }

 .tab {
     color: orange;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
     margin: 0 20px;
 }


 .tab:hover {
     background-color: black;
     color: orangered;
 }
>>>>>>> 79ef4b9f0b222a2452828d69fbb73aa8d457ca7f
