/* styles sheet for playlist */
#playlistForm {
  margin: 10%;
}
#form {
  margin: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border: solid 10px rgb(217, 162, 130, 0.25);
  border-radius: 10px;
  background-color: rgb(217, 162, 130, 0.25);
  flex-direction: row;
  align-content: flex-start;
  position: relative;
  top: -15vw;
}

#display {
  /* border-collapse: collapse; */
  width: 50%;
  margin: 50px auto;
  position: relative;
  top: -32vw;
  left: -1vw;
}
#display,
th,
td {
  border: 2px solid rgb(217, 162, 130, 0.25);
  padding: 5px;
  text-align: center;
}
th {
  background-color: rgb(217, 162, 130, 0.25);
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-weight: 300;
}
td {
  background-color: rgb(217, 162, 130, 0.25);
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-weight: 300;
}
.list {
  position: relative;
  top: 5vw;
  right: 5vw;
  display: inline-block;
  width: auto;
  height: auto;
  border: solid 10px rgb(217, 162, 130, 0.25);
  border-radius: 10px;
  background-color: rgb(217, 162, 130, 0.25);
  padding: 19px;
  margin: 20px;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
#pLHeader {
  font-size: 50px;
  display: block;
  margin: 10px;
  color: white;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: grey;
  position: relative;
  top: 0;
  left: 0;
}
#submit {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition: font-size 0.1s ease-in-out;
}
#submit:hover {
  background-color: rgb(217, 162, 130, 0.25);
  color: black;
  cursor: pointer;
  font-size: 20px;
}
.input {
  font-size: 17px;
  font-weight: 300;
  margin: 2px;
  padding: 5px;
  transition: font-size 0.1s ease-in-out;
}
